<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857134785197-o5drghu83b3c4g95iidtpms1mrfa5mnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857134785197-o5drghu83b3c4g95iidtpms1mrfa5mnm</string>
	<key>API_KEY</key>
	<string>AIzaSyDC_hWDj3Cz334eurxTamfm5hsrU3tUNxI</string>
	<key>GCM_SENDER_ID</key>
	<string>857134785197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carparking.flutterCarParking</string>
	<key>PROJECT_ID</key>
	<string>flutter-car-parking</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-car-parking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857134785197:ios:130d72e968e1c655781c24</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-car-parking-default-rtdb.firebaseio.com</string>
</dict>
</plist>